<section id="hero">
    <h2>L'été, c'est vrai que c'est chaud !</h2>
    <p>Trouvez le rafraichisseur de vos rêves chez Clim63</p>
    <button>En savoir plus</button>
</section>
<section>
    <h3>Nos produits mis en avant</h3>
    <div>
        @if (loading) {
            <p>chargement</p>
        }
        @else if (selectedProducts.length > 0 && !loading) {
            @for (product of selectedProducts.slice(0, 3); track product.id) {
                <app-product-card [product]="product"></app-product-card>
            }
        } @else {
            <p>Problème lors du chargement</p>
        }
        
    </div>
</section>


